<h1>Luxo</h1>
<h3>Pear {{ user.firstName }} {{ user.lastName }} ,</h3>
<p>Our request to open an account is <strong>finished</strong>.</p>
<p>The entire Luxo team thanks you for your trust and looks forward
    to having you among its new members!</p>
